.poetry__wrapper {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 16px auto 0;
}

.poetry__pagination {
  margin-top: 50px;
  margin-left: 10px;
}
@media all and (max-width: 1280px) {
  .poetry__wrapper {
    margin: 60px auto 0 auto;
    max-width: 728px;
  }
}
@media all and (max-width: 768px) {
  .poetry__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
