.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer_block {
  max-width: 300px;
}
.footer_block p, .footer_block a {
  font-size: 13px;
  color: #f0ffff;
}
.footer_block a {
  text-decoration: none;
  display: block;
}
@media all and (min-width: 768px) and (max-width: 1280px){
  .footer{
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer_block {
    max-width: 200px;
  }
}
@media all and (max-width: 767px) {
  .footer{
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer_block p, .footer_block a {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
